<h3 class="mb-4">Proveedores</h3>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">En esta página encontrarás la informacón de todos los proveedores</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="tabla" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Razon Social</th>
              <th>RFC</th>
              <th>Domicilio</th>
              <th>Teléfono</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {{#each proveedores}}
              <tr>
                <td>
                  {{this.razon_social}}
                </td>
                <td>
                  {{this.rfc}}
                </td>
                <td>
                  {{this.domicilio}}
                </td>
                <td>
                  {{this.telefono}}
                </td>
                <td class="text-center">
                  <a href="/admin/proveedores/eliminar?id_proveedor={{this.id_proveedor}}" class='btn btn-danger' role='button'><i
                      class="fas fa-trash-alt"></i></a>
                  <a href="/admin/proveedores/editar?id_proveedor={{this.id_proveedor}}" class='btn btn-secondary' role='button'><i class="far fa-edit"></i></a>
                </td>
              </tr>
            {{/each}}


          </tbody>
          <tfoot>
            <tr>
              <th>Razon Social</th>
              <th>RFC</th>
              <th>Domicilio</th>
              <th>Teléfono</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </div>
</div>