<h3 class="mb-4">
  {{title}}
</h3>

<div class="row">
  <div class="col-md-12">
    <!-- Formulario de Proveedor -->
    <div class="card card-primary">
      <div class="card-header">
        <h4 class="card-title">Llena los datos del cliente</h4>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form action="{{route}}" method="POST">
        <div class="card-body">
          <div class="form-group">
            <label for="id_cliente">ID Cliente</label>
            <input type="text" class="form-control" id="id_cliente" name="id_cliente" value="{{cliente.id_cliente}}" readonly>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{cliente.nombre}}">
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" maxlength="13" value="{{cliente.apellido}}">
          </div>
          <div class="form-group">
            <label for="calle">Calle</label>
            <input type="text" class="form-control" id="calle" name="calle" value="{{cliente.calle}}">
          </div>
          <div class="form-group">
            <label for="colonia">Colonia</label>
            <input type="text" class="form-control" id="colonia" name="colonia" value="{{cliente.colonia}}">
          </div>
          <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" value="{{cliente.ciudad}}">
          </div>
          <div class="form-group">
            <label for="cod_postal">Código Postal</label>
            <input type="text" class="form-control" id="cod_postal" name="cod_postal" value="{{cliente.cod_postal}}" maxlength="6">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{cliente.email}}">
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      <!-- Form end -->

    </div>
    <!-- /.card -->
  </div>
</div>